* {
	margin: 0;
	padding: 0;
}
.busca{
	border-radius:12px;
	border-style: solid;
	border-color: #1E90FF;
	padding: 10px;
	width: 45%;
	margin: 25px 25px 25px 35%;	
	text-align: left;
	color:#008B8B;
}

body {
	font: 400 15px/1.8 Lato, sans-serif;
	color: #777;
}

h3, h4 {
	margin: 10px 0 30px 0;
	letter-spacing: 5px;
	font-size: 20px;
/* 	color: #111; */
}

.person {
	border: 10px solid transparent;
	margin-bottom: 25px;
	width: 80%;
	height: 80%;
	opacity: 0.7;
}

.person:hover {
	border-color: #f1f1f1;
	
}

.bg-1 {
	background: #2d2d30;
	color: #bdbdbd;
}

.bg-1 h3 {
	color: #fff;
}

.bg-1 p {
/* 	font-style: italic; */
}

.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail p {
	margin-top: 15px;
	color: #555;
}

.btn {
	padding: 10px 20px;
/* 	background-color: #333; */
	color: #f1f1f1;
	border-radius: 0;
	transition: .2s;
}

.btn:hover, .btn:focus {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}

.modal-header, h4, .close {
	background-color: #333;
	color: #fff !important;
	text-align: center;
	font-size: 30px;
}

.modal-header, .modal-body {
	padding: 40px 50px;
}

.nav-tabs li a {
	color: #777;
}

.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background-color: #F5FFFA;
	border: 0;
	font-size: 11px !important;
	letter-spacing: 4px;
	opacity: 0.9;
	padding: 15px;
}

.navbar li a, .navbar .navbar-brand {
	color: #000 !important;
	text-align: center;
}

.navbar-nav li a:hover {
	color: #87CEFA !important;
}

.navbar-nav li.active a {
	color: #fff !important;
	background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	
}
.open .dropdown-toggle {
  color: #fff;
/*   background-color: #555 !important; */
}
.dropdown-menu li a {
/*   color: #000 !important; */
}
.dropdown-menu li a:hover {
  background-color: red !important;
}

footer { 
	color: #000000;
	padding: 32px;
	width: 100%;
}


footer a {
	color: #000000;
}

footer a:hover {
	color: #000000;
	text-decoration: none;
}

.form-control {
	border-radius: 0;
}

textarea {
	resize: none;
}

.inicio {
	width: 100%;
	height: 650px;
}
.colabore > button{
	background-color:#fff;
	color: #00FA9A;
	border-radius:12px;
	border-color:#40E0D0;
	padding:10px;
}
.colabore{
	letter-spacing: 5px;
	font-size: 20px;
	color: #000;
	border-radius:12px;
	border-style: solid;
	border-color:#20B2AA;
	text-align:center;
	width:75%;
	heigth:25%;
	padding:20px;
	margin-left:15%;
	margin-top:10%;
	background-color:#fff;
}
.colabore > button > a{
	color:#000080;
	text-align:center;
}
.colabore > button > a:hover{
	color:#87CEEB;
	text-align:center;
	text-decoration: none; 
}
.fundo{
	background-image: url(../img/fundo.png); 
	width:100% ;
	heigth:100%;
}
.form{
	border-radius: 10px;
	border-style: solid;
	border-color: #000;
	margin: 0 0 0 0;
}
.temporario {
	text-align:center;
	margin: 5px;
	border-radius: 10px;
	border-style: solid;
	border-color: #87CEFA;
	width: 30%;
	margin-left: 35%;
	
}

.temporario > a {
	color:#00CED1;
	text-decoration:none;
	
}
.cadastro{
	border-radius:12px;
	border-style: solid;
	border-color: #1E90FF;
	padding: 10px;
	width: 45%;
	margin: 25px 25px 25px 35%;	
	text-align: left;
	color:#008B8B;

}
.buscas{
	border-radius:12px;
	border-style: solid;
	border-color: #1E90FF;
	padding: 10px;
	width: 85%;
	margin: 25px 25px 25px 100px;	
	text-align: left;
	color:#008B8B;
	background-color: white;

}



